{
  "extends": ["airbnb", "prettier", "plugin:codeceptjs/recommended"],
  "plugins": ["prettier", "jasmine", "codeceptjs"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-restricted-globals": 0,
    "linebreak-style": 0,
    "class-methods-use-this": 0,
    "no-new": 0
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "codeceptjs/codeceptjs": true
  }
}
