<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./images/favicon.png">
  <title>Restaurant Apps Starter Project</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="theme-color" content="#DB0000" />
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="nama-resto">
      <p class="nama-resto__main">Joe Apps</p>
      <p class="nama-resto__sub">semua yang anda butuhkan</p>
    </div><a href="#" class="toggle-button" id="hamburgerButton"><span class="bar bar--1"></span><span
        class="bar bar--1"></span><span class="bar bar--1"></span></a>
    <nav class="main-nav" id="navigationDrawer">
      <ul class="main-nav__list">
        <!-- link to root -->
        <li><a href="#/home" class="main-nav__link">Home</a></li>
        <li><a href="#/favorite" class="main-nav__link">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/rajasaputera/" class="main-nav__link">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent">


  </main>
  <footer class="footer">
    <p class="footer__text">Copyright &#169; 2023 - Joe apps </p>
  </footer>
</body>

</html>