<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Restaurant Apps Starter Project</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="nama-resto">
      <p class="nama-resto__main">Joe resto</p>
      <p class="nama-resto__sub">semua yang anda butuhkan</p>
    </div><a href="#" class="toggle-button"><span class="bar bar--1"></span><span class="bar bar--1"></span><span
        class="bar bar--1"></span></a>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li><a href="#" class="main-nav__link">Home</a></li>
        <li><a href="#" class="main-nav__link">Favorite</a></li>
        <li><a href="#" class="main-nav__link">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
    </section>
    <section class="section-menu">
      <h2 class="section-menu__title">Explore Restorant</h2>
      <div class="section-menu__container">
        <div class="section-menu__box">
          <img src="./images/menus/menu-1.jpg" width="450" alt="">
          <h3 class="section-menu__name">Sate Ayam</h3>
          <p class="section-menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            quae.
          </p>
          <p class="section-menu__price">Rp. 20.000</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <!-- copyright html -->
    <p>copyright &#169; 2022 - hunger apps </p>
  </footer>
</body>

</html>